#chatarea
{
	border: solid black 2px;
	position: fixed;height: 70%;
	top: 10%;width: 30%;left: 30%;
}
.userinput
{
	width: 100%;position: absolute;
	bottom: 0;border-top: solid black 2px;
}
.mess_display
{
	position: absolute;
	height: 93%;width: 100%;
	font-family: cambria;
	overflow-y: auto;
}
#mess_tbl th
{
	text-align: left;
	color: brown;
}
